@import url("../bower_components/nprogress/nprogress.css");

body {
    background: #fafafa;
}

.hero-unit {
    margin: 50px auto 0 auto;
    width: 300px;
}

#tracks ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
#tracks ul li{
	clear: both;
}
#tracks ul li span{
}
#tracks ul li .trackNumber{
	border: 2px solid black;
	border-radius: 15px;
	height: 30px;
	padding: 0 4px;
	margin: 0;
	font-size: 15px;
	font-weight: bold;
	text-align: center;
}
#tracks ul li .title{
	font-weight: bold;
}
#tracks ul li .artist{
	color: #AAA;
}

#tracks{
  min-height: 200px;
  width: 68%;
  float: left;
  background: #ecf0f1;
  padding: 20px;
}

#image {
  height: 200px;
  width: 200px;
  float: left;
  margin-right: 20px;
  background: #bdc3c7;
  overflow: hidden;
}

.dropstuff h2 {
  font-size: 14px;
  text-align: center;
  margin: auto;
  width: 100px;
  margin-top: 80px;
}

#tracks h2 {
  margin-top: 60px;
}

#tracks, #image {
  border-radius: 5px;
}

.form-inline .form-group, .navbar-form .form-group {
  margin-bottom: 15px;
}

.form-inline {
  text-align: right;
}

#submit, #download {
  float: right;
  margin-right: 15px;
}
.buttonRow {
  margin-top: 10px;
}

.linkForm {
  margin-top: 10px;
}

h5 {
  text-align: right;
  margin-bottom: 30px;
  margin-top: 100px;
}

h5 .authors {
  color: #bdc3c7;
}

.actualImage {
  max-width: 100%;
}

#mix-info {
  margin-right: 0px;
}

#tracks .close {
  font-size: 14px;
  line-height: inherit;
  text-shadow: none;
  opacity: inherit;
  filter: inherit;
}

#tracks .close:hover, #tracks .close:focus {
  color: #e74c3c;
}